
/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
  font-family: Cursive;
}

section {
  background-color: 	#808080;
  width: 90%;
  height: 100%;
  border: 1px solid black;
  overflow: hidden;
}

.emc {
  font-family: Helvetica;
  color: black;
  padding: 15px;
  font-size: medium;
}

.emc1 {
  background-color: 	#ed1492;
  width: 30%;
  text-align: center;
  margin: 0px;
  float: right;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  color: black;
  border: 1px;
  border-color: black;
  border-left-style: solid;
  border-bottom-style : solid;
}

.emc2 {
  background-color: 	#5a060c;
  width: 30%;
  text-align: center;
  margin: 0px;
  float: right;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  color: white;
  border: 1px;
  border-color: black;
  border-left-style: solid;
  border-bottom-style : solid;
}

.emc3 {
  background-color: 	#d6c91c;
  width: 30%;
  text-align: center;
  margin: 0px;
  float: right;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  color: brown;
  border: 1px;
  border-color: black;
  border-left-style: solid;
  border-bottom-style : solid;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    width: 31%;
    float: left;
    border: 1px solid black;
    margin: 8px;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px ) and (max-width: 991px) {
  .col-md-6 {
    float: left; 
    width: 45%;
    border: 1px solid black;
    margin: 8px;
  }
  .col-md-13 {
    float: left;
    width: 92%;
    border: 1px solid black;
    margin: 8px;
  }
}

 /********** Small devices only **********/
 @media  (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 92%;
    margin: 8px;
    border: 1px solid black;
  }
}